@{
    ViewBag.Title = "A propos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container-fluid">
   



    <p style="margin-left:120px">&nbsp;</p>

    <p style="margin-left:40px"><span style="font-size:20px"><strong>Identification du propri&eacute;taire du site</strong></span></p>

    <p style="margin-left:40px">
        Le site <strong>www.Munarela-Enchéres.ca</strong> appartient et est g&eacute;r&eacute; par la soci&eacute;t&eacute;<strong> MUNARELAsprl </strong>dont le si&egrave;ge social est situé au Canada<br />
        <br />
        Num&eacute;ro TVA&nbsp;: TVA BE0859.695.954
    </p>

    <p style="margin-left:40px"><strong><span style="font-size:20px">Contact</span></strong></p>

    <p style="margin-left:40px">E-mail :<span style="color:#FF0000"> </span><a href="http://localhost:15640/Home/Contact"><span style="color:#FF0000">munarela2@hotmail.com</span></a></p>

    <p style="margin-left:40px">Support technique : <a href="http://localhost:15640/Home/Contact"><span style="color:#FF0000">munarela2@hotmail.com</span></a></p>

    <p style="margin-left:40px"><span style="font-size:20px"><strong>R&eacute;alisation et h&eacute;bergement du site</strong></span></p>

    <p style="margin-left:40px">
        Le site a &eacute;t&eacute; r&eacute;alis&eacute; par la soci&eacute;t&eacute; GénieWeb.com, resp. 2030 Pie IX Canada<br />
        Site programm&eacute; en C# ASP.NET .
    </p>

    <p style="margin-left:40px"><strong><span style="font-size:20px">Droits d&rsquo;auteur</span></strong></p>

    <p style="margin-left:40px">Le site internet, sa structure g&eacute;n&eacute;rale, les textes, les illustrations,&hellip; et tout autre &eacute;l&eacute;ment composant le site sont la propri&eacute;t&eacute; de la soci&eacute;t&eacute; <strong>MUNARELAsprl </strong>pour . Toute copie, adaptation, traduction de tout ou d&rsquo;une partie de ce site est strictement interdite sans l&rsquo;autorisation pr&eacute;alable et par &eacute;crit de la soci&eacute;t&eacute; <strong>MUNARELAsprl</strong>.</p>

    <p style="margin-left:40px"><span style="font-size:20px"><strong>Marques</strong></span></p>

    <p style="margin-left:40px">La d&eacute;nomination<strong> Munarela-Enchéres</strong> et le logo <strong>Munarela-Enchéres</strong> sont des marques d&eacute;pos&eacute;es appartenant &agrave; <strong>MUNARELAsprl</strong> et prot&eacute;g&eacute;es &agrave; ce titre par le droit de la propri&eacute;t&eacute; intellectuelle.</p>

    <p style="margin-left:40px"><span style="font-size:20px"><strong>Respect de la vie priv&eacute;e</strong></span></p>

    <p style="margin-left:40px">
        L&rsquo;utilisateur peut consulter librement le site sans devoir fournir ses donn&eacute;es personnelles. Les informations collect&eacute;es par <strong>MUNARELAsprl</strong> notamment via l&rsquo;E-mail de contact, le formulaire de candidature ou le formulaire d&rsquo;inscription, sont trait&eacute;es avec la plus grande confidentialit&eacute; et sont r&eacute;serv&eacute;es &agrave; l&#39;usage exclusif de <strong>MUNARELAsprl</strong>. L&#39;utisateur est libre de demander la rectification de ses donn&eacute;es ou la suppression de celles-ci par courrier postal.<br />
        &nbsp;
    </p>

    <p style="margin-left:40px"><span style="font-size:20px"><strong>R&egrave;gles g&eacute;n&eacute;rales pour les ench&egrave;res du site Munarela-Enchéres.be</strong></span></p>

    <p style="margin-left:40px">Seules les conditions de ce site sont acceptables et pratiquables. Munarela-Enchéres et GénieWeb.com sont les seuls pouvant d&eacute;sactiver un compte ne respectant pas les r&egrave;gles et conditions g&eacute;n&eacute;rales.</p>

    <p style="margin-left:40px">&nbsp;</p>
    </div>
