
@{
    ViewBag.Title = "InfoLegales";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}




<div class="main">



    <div class="container-fluid">
        <h1 class="majuscule">Infos légales - Conditions générales</h1>



        <p style="margin-left:120px">&nbsp;</p>

        <p style="margin-left:40px"><span style="font-size:20px"><strong>Identification du propri&eacute;taire du site</strong></span></p>

        <p style="margin-left:40px">
            Le site <strong>www.Munarela-Enchéres.ca</strong> appartient et est g&eacute;r&eacute; par la soci&eacute;t&eacute;<strong> MUNARELAsprl </strong>dont le si&egrave;ge social est situé au Canada<br />
            <br />
            Num&eacute;ro TVA&nbsp;: TVA BE0859.695.954
        </p>

        <p style="margin-left:40px"><strong><span style="font-size:20px">Contact</span></strong></p>

        <p style="margin-left:40px">E-mail :<span style="color:#FF0000"> </span><a href="http://localhost:15640/Home/Contact"><span style="color:#FF0000">munarela2@gmail.com</span></a></p>

        <p style="margin-left:40px">Support technique : <a href="http://localhost:15640/Home/Contact"><span style="color:#FF0000">munarela2@gmail.com</span></a></p>

        <p style="margin-left:40px"><span style="font-size:20px"><strong>R&eacute;alisation et h&eacute;bergement du site</strong></span></p>

        <p style="margin-left:40px">
            Le site a &eacute;t&eacute; r&eacute;alis&eacute; par la soci&eacute;t&eacute; GénieWeb.com, resp. 2030 Pie IX Canada<br />
            Site programm&eacute; en C# ASP.NET .
        </p>

        <p style="margin-left:40px"><strong><span style="font-size:20px">Droits d&rsquo;auteur</span></strong></p>

        <p style="margin-left:40px">Le site internet, sa structure g&eacute;n&eacute;rale, les textes, les illustrations,&hellip; et tout autre &eacute;l&eacute;ment composant le site sont la propri&eacute;t&eacute; de la soci&eacute;t&eacute; <strong>MUNARELAsprl </strong>pour . Toute copie, adaptation, traduction de tout ou d&rsquo;une partie de ce site est strictement interdite sans l&rsquo;autorisation pr&eacute;alable et par &eacute;crit de la soci&eacute;t&eacute; <strong>MUNARELAsprl</strong>.</p>

        <p style="margin-left:40px"><span style="font-size:20px"><strong>Marques</strong></span></p>

        <p style="margin-left:40px">La d&eacute;nomination<strong> Munarela-Enchéres</strong> et le logo <strong>Munarela-Enchéres</strong> sont des marques d&eacute;pos&eacute;es appartenant &agrave; <strong>MUNARELAsprl</strong> et prot&eacute;g&eacute;es &agrave; ce titre par le droit de la propri&eacute;t&eacute; intellectuelle.</p>

        <p style="margin-left:40px"><span style="font-size:20px"><strong>Respect de la vie priv&eacute;e</strong></span></p>

        <p style="margin-left:40px">
            L&rsquo;utilisateur peut consulter librement le site sans devoir fournir ses donn&eacute;es personnelles. Les informations collect&eacute;es par <strong>MUNARELAsprl</strong> notamment via l&rsquo;E-mail de contact, le formulaire de candidature ou le formulaire d&rsquo;inscription, sont trait&eacute;es avec la plus grande confidentialit&eacute; et sont r&eacute;serv&eacute;es &agrave; l&#39;usage exclusif de <strong>MUNARELAsprl</strong>. L&#39;utisateur est libre de demander la rectification de ses donn&eacute;es ou la suppression de celles-ci par courrier postal.<br />
            &nbsp;
        </p>

        <p style="margin-left:40px"><span style="font-size:20px"><strong>R&egrave;gles g&eacute;n&eacute;rales pour les ench&egrave;res du site Munarela-Enchéres.be</strong></span></p>

        <p style="margin-left:40px">Seules les conditions de ce site sont acceptables et pratiquables. Munarela-Enchéres et GénieWeb.com sont les seuls pouvant d&eacute;sactiver un compte ne respectant pas les r&egrave;gles et conditions g&eacute;n&eacute;rales.</p>

        <p style="margin-left:40px">&nbsp;</p>

        <h1 style="margin-left:40px">Conditions relatives aux ventes en g&eacute;n&eacute;rales</h1>

        <h2 style="margin-left:40px">Article 1 :</h2>

        <p style="margin-left:40px">
            Dans le cas d&#39;une vente sur faillite pour compte d&#39;un mandataire de justice, la vente est faite sans frais pour l&#39;acqu&eacute;reur qui paie exactement la somme offerte major&eacute;e de la TVA 21% Canada.<br />
            &nbsp;
        </p>

        <h2 style="margin-left:40px">Article 2 :</h2>

        <p style="margin-left:40px">Les objets, quels qu&#39;ils soient, sont vendus dans l&#39;&eacute;tat o&ugrave; ils se trouvent, sans garantie d&#39;aucune sorte m&ecirc;me pour vices cach&eacute;s et les quantit&eacute;s mentionn&eacute;es le sont &agrave; titre purement indicatif. En ce qui concerne les v&eacute;hicules automobiles, bus, remorques, tracteurs, engins sur roues, etc... l&#39;acheteur devra les pr&eacute;senter lui-m&ecirc;me au contr&ocirc;le technique. Les frais de remise en &eacute;tat et ceux de pr&eacute;sentation seront &agrave; sa charge. L&#39;acheteur renonce, dans tous les cas, &agrave; tous recours contre la curatelle du chef de vente.</p>

        <h2 style="margin-left:40px">Article 3 :</h2>

        <p style="margin-left:40px">
            <strong>Le prix est payable au grand comptant, en esp&egrave;ce, virement et ce, avant l&#39;enl&egrave;vement.</strong><br />
            La facturation est &eacute;tablie au nom de la personne qui &eacute;tablit l&#39;ench&egrave;re.<br />
            Pour utiliser un autre nom, vous devez vous enregistrer sur notre site avec de nouvelles coordonn&eacute;es et remporter l&#39;ench&egrave;re !
        </p>

        <h2 style="margin-left:40px">Article 4 :</h2>

        <p style="margin-left:40px">Les enl&egrave;vements se d&eacute;roulent sous la surveillance du responsable de la vente ou de son pr&eacute;pos&eacute;, aux jours et heures fix&eacute;s par celui-ci.</p>

        <h2 style="margin-left:40px">Article 5 :</h2>

        <p style="margin-left:40px">Les enl&egrave;vements sont &agrave; charge, risques et p&eacute;rils de l&#39;acheteur en ce et y compris les d&eacute;montages &eacute;vent.,transp.</p>

        <h2 style="margin-left:40px">Article 6 :</h2>

        <p style="margin-left:40px">Toutes d&eacute;gradations aux b&acirc;timents ou au mat&eacute;riel entrepos&eacute; sont &agrave; charge des personnes qui les ont provoqu&eacute;es.</p>

        <h2 style="margin-left:40px">Article 7 :</h2>

        <p style="margin-left:40px">En cas de litige du chef de ces pr&eacute;sentes conditions g&eacute;n.de vente, les Tribunaux de Charleroi sont seuls comp&eacute;tents.</p>

        <h2 style="margin-left:40px">Article 8 :</h2>

        <p style="margin-left:40px">Le fait du payement entra&icirc;ne l&#39;adh&eacute;sion aux conditions ci-dessus enum&eacute;r&eacute;es.</p>

        <h2 style="margin-left:40px">Article 9 :</h2>

        <p style="margin-left:40px">Les actifs vendus restent la propri&eacute;t&eacute; du vendeur jusqu&#39;au paiement int&eacute;gral du prix.</p>

        <p style="margin-left:40px">&nbsp;</p>

        <h1 style="margin-left:40px">Conditions relatives aux ench&egrave;res sur notre site</h1>

        <h2 style="margin-left:40px">Article 1</h2>

        <p style="margin-left:40px">Toutes ventes aux ench&egrave;res en ligne est organis&eacute;e par Munarela-Enchéres.ve. L&rsquo;adjudication se fait par MUNARELAsprl.</p>

        <h2 style="margin-left:40px">Article 2</h2>

        <p style="margin-left:40px">Toutes personnes doivent s&rsquo;enregistrer sur le site pour avoir acc&egrave;s aux ench&egrave;res. Vous avez un droit d&#39;acc&egrave;s sur vos donn&eacute;es enregistr&eacute;es. Celles-ci peuvent &ecirc;tre supprim&eacute;es, modifi&eacute;es par demande &eacute;crite sur info@Munarela-Enchéres.be</p>

        <h2 style="margin-left:40px">Article 3</h2>

        <p style="margin-left:40px">
            E-Enchere.be ou GénieWeb.com ne sont pas responsables en cas de probl&egrave;mes techniques ou autres. Toutes tentatives de piratages ou d&#39;abus sur l&#39;utilisation des ench&egrave;res, produits, ou autres sont punissables par la loi.<br />
            Un bannissement du compte client sera effectu&eacute; aussit&ocirc;t.
        </p>

        <h2 style="margin-left:40px">Article 4</h2>

        <p style="margin-left:40px">Durant la vente, E-Enchere.be peut si elle l&rsquo;estime n&eacute;cessaire mentionner une offre minimum acceptable, annuler la mise en vente, grouper ou scinder les lots.</p>

        <h2 style="margin-left:40px">Article 5</h2>

        <p style="margin-left:40px">E-Enchere.be peut &eacute;galement demander &agrave; l&rsquo;acheteur de prouver sa solvabilit&eacute;.</p>

        <h2 style="margin-left:40px">Article 6</h2>

        <p style="margin-left:40px">Dans le cas d&rsquo;une vente pour compte de tiers, tous les biens sont &eacute;galement vendus dans l&rsquo;&eacute;tat o&ugrave; ils se trouvent et se comportent, sans garantie du vendeur et sans recours de l&rsquo;acheteur. L&rsquo;acheteur est sens&eacute; avoir examin&eacute; les lots.</p>

        <h1 style="margin-left:40px">Adjudication face aux ench&egrave;res</h1>

        <h2 style="margin-left:40px">Article 1</h2>

        <p style="margin-left:40px">
            Toute offre lanc&eacute;e est inconditionnelle et irr&eacute;vocable.<br />
            L&rsquo;ench&eacute;risseur accepte par sa remise de prix les pr&eacute;sentes conditions g&eacute;n&eacute;rales et s&rsquo;engage &agrave; payer le(s) lot(s) mis en vente au prix offert par lui-m&ecirc;me + frais de vente et + tva (21%).
        </p>

        <h2 style="margin-left:40px">Article 2</h2>

        <p style="margin-left:40px">Munarela-Enchéres.be se r&eacute;serve le droit de retenir le(s) lot(s) si n&eacute;cessaire en avisant le Soumissionnaire.</p>

        <h2 style="margin-left:40px">Article 3</h2>

        <p style="margin-left:40px">Munarela-Enchéres.be se r&eacute;serve le droit d&rsquo;annuler la vente si le mandataire de justice ou le vendeur n&rsquo;a pas marqu&eacute; son accord sur le prix de vente. Le soumissionnaire en sera inform&eacute; par mail.</p>

        <h2 style="margin-left:40px">Article 4</h2>

        <p style="margin-left:40px">Si l&#39;article n&#39;obtient aucune ench&egrave;re durant le d&eacute;lais impartis, celui-ci sera remis en vente.</p>

        <h2 style="margin-left:40px">Article 5</h2>

        <p style="margin-left:40px"><span style="font-size:14px">Si une offre est faite pendant les 5 derni&egrave;res minutes avant la cl&ocirc;ture de la vente aux ench&egrave;res en ligne, l&rsquo;ench&egrave;re de ce lot sera prolong&eacute; de 5 minutes, jusqu&rsquo;au moment o&ugrave; il n&rsquo;y a plus de lancement d&rsquo;ench&egrave;res.</span></p>

        <h1 style="margin-left:40px">Paiement suite aux ench&egrave;res</h1>

        <p style="margin-left:40px">
            <strong>Apr&egrave;s l&rsquo;adjudication, le paiement du ou des lot(s) se fera dans les 48 heures.</strong><br />
            D&egrave;s la r&eacute;ception de notre email de confirmation contenant les coordonn&eacute;es de paiement.
        </p>

        <h2 style="margin-left:40px">Article 1</h2>

        <p style="margin-left:40px">Tous les paiements se font en euros.</p>

        <h2 style="margin-left:40px">Article 2</h2>

        <p style="margin-left:40px">
            Apr&egrave;s paiement int&eacute;gral, l&rsquo;acheteur recevra une facture acquitt&eacute;e ainsi que les directives pour les enl&egrave;vements.<br />
            Les coordonn&eacute;es de la facture sont celles reprises lors de l&rsquo;enregistrement.
        </p>

        <h2 style="margin-left:40px">Article 3</h2>

        <p style="margin-left:40px">L&rsquo;acheteur est tenu d&rsquo;enlever son achat dans les 15 jours, pass&eacute; ce d&eacute;lai, Munarela-Enchéres.be se r&eacute;serve le droit de consid&eacute;rer le contrat comme &eacute;tant r&eacute;solu.</p>

        <h2 style="margin-left:40px">Article 4</h2>

        <p style="margin-left:40px">En cas de non-paiement ou paiement partiel, des int&eacute;r&ecirc;ts de retard de 10%/an sont redevables automatiquement de plein droit et sans mise en demeure pr&eacute;alable. Munarela-Enchéres.be se r&eacute;serve le droit de r&eacute;silier le contrat d&rsquo;achat.</p>


    </div>


</div> <!-- DIV MAIN -->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Retour au menu principal", "Index")
    </div>
}